*,html,body{
    border: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;

}

/* container */
.container{
    width: 100vw;
    margin: 0px;
    padding: 0px;
}

/*left side navbar div  */

.nav-bar-content{
    display: inline-block;

}

/* right side div */
.right-section{
    display: inline-block;
}